users_lists {
  .searchbar-md .searchbar-input{
    border-radius: 23px ;
  }
  img{
    border-radius: 50% ;
    overflow: hidden ;
    width: 45px ;
    height: 45px ;
    border: 2px solid  map_get($colors,primary);
  }

  .cssForRoundSLidingItems .button-inner{
    background-color: #ffffff21;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    color: white;
    font-size: 11px
  }
 .cssForRoundSLidingItems button{
    background-color: map_get($colors,light);
   margin-left: -1px;
  }

  .cssForRoundSLidingItems,.cssForRoundSLidingItems ion-item{
    height: 75px ;
  }
  .cssForRoundSLidingItems  ion-icon:not(.nextDiff){
    margin-top: 10px ;
    font-size: 2.1em ;
  }
  h2 {
    font-weight: bold;
  }
  .nextDiff{
    color:  map_get($colors,light);
  }

  ion-item-options[side=left] ion-icon {
    color:map_get($colors,secondary);
  }

  .login{
    color:  map_get($colors,light) ;
  }
  ion-searchbar{
    background: map_get($colors,primary) ;
  }



  .ion-md-checkmark{
   color: map_get($colors,primary);
  }
}
